/* For image overlay positioning */
.github-a11y-img-container {
  position: relative; 
  padding: 0; 
  margin: 0;
}

/* Styling for when image is missing alt text */
.github-a11y-img-missing-alt {
  border: 10px solid red;
}

/* Styling for image overlay */
.github-a11y-img-caption {
  display: block; 
  background-color: #121212; 
  padding: 0.5em; 
  color: white; 
  position: absolute; 
  bottom: 0.5em; 
  left: 0; 
  font-weight: 700; 
  z-index: 2; 
  width: 100%; 
  font-size: 1.0rem; 
  opacity: 0.6;
}

/* Styling for heading level text. */
.github-a11y-heading-prefix {
  color: purple; 
}

/* Used to position heading at end of line. See `contentScript.js` if you'd like heading at front */
.github-a11y-heading-after {
  display: table; 
  width: 100%;
}
.github-a11y-heading-prefix-after {
  display: table-cell; 
  text-align: right;
}
