/* For image overlay positioning */
.github-a11y-img-container {
  display: inline-block;
  vertical-align: top;
  border: 2px solid grey;
}

/* Styling for when image is missing alt text */
.github-a11y-img-missing-alt {
  border: 5px solid red;
}

/* Styling for image overlay */
.github-a11y-img-caption {
  display: block; 
  background-color: #121212; 
  padding: 0.5em; 
  color: white; 
  z-index: 2; 
  width: 100%;
  opacity: 0.8;
}

/* Styling on caption for when image has alt */
.github-a11y-img-caption-with-alt {
  font-size: 0.8rem;
}

/* Styling on caption for when image is hidden */
.github-a11y-img-caption-empty-alt {
  font-style: italic;
  font-size: 0.6rem;
}

/* Styling for heading level text. */
.github-a11y-heading-prefix {
  color: purple; 
}

/* Used to position heading at end of line. See `contentScript.js` if you'd like heading at front */
.github-a11y-heading-after {
  display: table; 
  width: 100%;
}

.github-a11y-heading-prefix-after {
  display: table-cell; 
  text-align: right;
}
